<div class="w-full h-screen">
  <div class="w-full ">
    <ul class="grid grid-cols-8 p-2 bg-gray-700 text-white text-center   place-items-center">

      <a href="" routerLink="cart" class=" hover:bg-gray-400 p-3 w-full ">
        <li class=""> Cart </li>
      </a>

      <a href="" routerLink="Temp" class="hover:bg-gray-400 p-3 w-full">
        <li class=""> Temp </li>
      </a>

      <a href="" routerLink="Temp" class="hover:bg-gray-400 p-3 w-full">
        <li class=""> Form </li>
      </a>

      <a href="" routerLink="Temp" class="hover:bg-gray-400 p-3 w-full">
        <li class=""> Random-Quote </li>
      </a>

      <a href="" routerLink="Temp" class="hover:bg-gray-400 p-3 w-full">
        <li class=""> Toggle </li>
      </a>

      <a href="" routerLink="Temp" class="hover:bg-gray-400 p-3 w-full">
        <li class=""> Gallery </li>
      </a>

      <a href="" routerLink="Temp" class="hover:bg-gray-400 p-3 w-full">
        <li class=""> Menu </li>
      </a>

      <a href="" routerLink="Temp" class="hover:bg-gray-400 p-3 w-full">
        <li class=""> Fetch </li>
      </a>

    </ul>
  </div>

  <router-outlet></router-outlet>
</div>